@page "/Gallery"

<div style="display: flex; flex-direction: column;">
    <h2 style="font-weight: 600;font-size: 40px;line-height: 1.2;color: #333333;margin-bottom: 1.5rem; align-self: center;">Gallery</h2>
    <div style="margin-bottom:6rem;">
        <MudCarousel Class="carousel" ShowArrows="@arrows" ShowBullets="@bullets" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object">
            <MudCarouselItem Transition="transition" Style="display:flex; justify-content:center;">
                <div class="d-flex" style="height:100%;">
                    <MudImage ObjectFit=ObjectFit.Cover Src="images/høli_1.jpg"></MudImage>
                </div>
            </MudCarouselItem>
            <MudCarouselItem Transition="transition" Style="display:flex; justify-content:center;">
                <div class="d-flex" style="height:100%;">
                    <MudImage ObjectFit=ObjectFit.Cover Src="images/matur_1.jpg"></MudImage>
                </div>
            </MudCarouselItem>
            <MudCarouselItem Transition="transition" Style="display:flex; justify-content:center;">
                <div class="d-flex" style="height:100%;">
                    <MudImage ObjectFit=ObjectFit.Cover Src="images/eplir_1.jpg"></MudImage>
                </div>
            </MudCarouselItem>
            <MudCarouselItem Transition="transition" Style="display:flex; justify-content:center;">
                <div class="d-flex" style="height:100%;">
                    <MudImage ObjectFit=ObjectFit.Cover Src="images/høli_2.jpg"></MudImage>
                </div>
            </MudCarouselItem>
            <MudCarouselItem Transition="transition" Style="display:flex; justify-content:center;">
                <div class="d-flex" style="height:100%">
                    <MudImage ObjectFit=ObjectFit.Cover Src="images/eplir_2.jpg"></MudImage>
                </div>
            </MudCarouselItem>
            <MudCarouselItem Transition="transition" Style="display:flex; justify-content:center;">
                <div class="d-flex" style="height:100%">
                    <MudImage ObjectFit=ObjectFit.Cover Src="images/høli_3.jpg"></MudImage>
                </div>
            </MudCarouselItem>
            <MudCarouselItem Transition="transition" Style="display:flex; justify-content:center;">
                <div class="d-flex" style="height:100%;">
                    <MudImage ObjectFit=ObjectFit.Cover Src="images/uttanfyri_1.jpg"></MudImage>
                </div>
            </MudCarouselItem>
            <MudCarouselItem Transition="transition" Style="display:flex; justify-content:center;">
                <div class="d-flex" style="height:100%">
                    <MudImage ObjectFit=ObjectFit.Cover Src="images/uttanfyri_2.jpg"></MudImage>
                </div>
            </MudCarouselItem>
            <MudCarouselItem Transition="transition" Style="display:flex; justify-content:center;">
                <div class="d-flex" style="height:100%">
                    <MudImage ObjectFit=ObjectFit.Cover Src="images/vesi_1.jpg"></MudImage>
                </div>
            </MudCarouselItem>
        </MudCarousel>
    </div>
</div>