@page "/"
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations


<PageTitle>Fjósið</PageTitle>


<div class="intro-image-container">
    <img class="intro-image" style="object-position: 50% 79%;" src="images/høli_11.jpg" />
    <div class="intro-image-text-container">
        <h1 class="intro-image-title">
            @_imageTitle
        </h1>
        <h2 class="intro-image-text">
            @_imageText
        </h2>
    </div>
</div>

<div style="margin-bottom: 6rem;">
    @* <div class="intro-section">
        <div class="intro-section__text-wrapper">
            <h2 class="intro-section__title">
                Fjósið
            </h2>
            <p class="intro-section__text">
                @_intro
            </p>
            <p class="intro-section__text">
                @_intro_2
            </p>
            <p class="intro-section__text">
                @_intro_2
            </p>
        </div>
        <div class="intro-section__image-wrapper">
            <div class="intro-section__two-image-wrapper">
                <div>
                    <MudImage class="intro-section__image" ObjectFit=ObjectFit.Cover Src="images/høli_1.jpg"></MudImage>
                </div>
                <div>
                    <MudImage class="intro-section__image" ObjectFit=ObjectFit.Cover Src="images/matur_17.jpg"></MudImage>
                </div>
            </div>
            <div class="intro-section__two-image-wrapper">
                <div>
                    <MudImage class="intro-section__image" ObjectFit=ObjectFit.Cover Src="images/høli_11.jpg"></MudImage>
                </div>
                <div>
                    <MudImage class="intro-section__image" ObjectFit=ObjectFit.Cover Src="images/matur_2.jpg"></MudImage>
                </div>
            </div>
        </div>
    </div> *@

    <div class="details-section">
        <div class="details-section__text-image-section">
            <div class="details-section__image-wrapper">
                <MudImage class="details-section__image" ObjectFit=ObjectFit.Cover Src="images/høli_2.jpg"></MudImage>
            </div>
            <div class="details-section__text-wrapper">
                <h2 class="details-section__title">
                    @_detailsTitle
                </h2>
                <p class="details-section__text">
                    @_details
                </p>
                <div class="details-section__button-wrapper">
                    <MudButton Style="background: rgba(0, 0, 0, 1); color: goldenrod;" @onclick="NavToBooking" ButtonType="ButtonType.Button" Variant="Variant.Filled">
                        @_booking
                    </MudButton>
                    
                </div>
            </div>
        </div>
        <div class="section-to-animate details-section__text-image-section-2" style="background-color: #FFFFFF;">
            <div class="details-section__text-wrapper">
                <h2 class="details-section__title">
                    @_detailsTitle_2
                </h2>
                <p class="details-section__text">
                    @_details_2
                </p>
                <div class="details-section__button-wrapper">
                    <MudButton Style="background: rgba(0, 0, 0, 1);" ButtonType="ButtonType.Button" Variant="Variant.Filled">
                        <a href="images/Menu.pdf" target="_blank" style="color: goldenrod;">@_menu</a>
                    </MudButton>
                </div>
            </div>
            <div class="details-section__image-wrapper">
                <MudImage class="details-section__image" ObjectFit=ObjectFit.Cover Src="images/neyt_1.jpg"></MudImage>
            </div>
        </div>
        <div class="section-to-animate details-section__text-image-section">
            <div class="details-section__image-wrapper">
                <MudImage class="details-section__image" ObjectFit=ObjectFit.Cover Src="images/eplir_1.jpg"></MudImage>
            </div>
            <div class="details-section__text-wrapper">
                <h2 class="details-section__title">
                    @_detailsTitle_3
                </h2>
                <p class="details-section__text">
                    @_details_3
                </p>
                <div class="details-section__button-wrapper">
                    <MudButton Style="background: rgba(0, 0, 0, 1); color: goldenrod;" @onclick="NavToGallery" ButtonType="ButtonType.Button" Variant="Variant.Filled">
                        @_gallery
                    </MudButton>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-to-animate offers-section">
    <div class="offers-section-wrapper">
        <h2 class="offers-title">
            @_offer
        </h2>
        <div class="offers-section__contant-wrapper">
            <a style="color: goldenrod;" href="images/Menu.pdf" target="_blank">
                <div class="offers-section__offer-section">
                    <MudImage class="offers-section__offer-image" ObjectFit=ObjectFit.Cover Src="images/luttakarar_3_2.jpg"></MudImage>
                    <h4 class="offers-section__offer-title">
                        @_dining
                    </h4>
                </div>
            </a>
            <div class="offers-section__offer-section" @onclick="NavToMeetings">
                <MudImage class="offers-section__offer-image" ObjectFit=ObjectFit.Cover Src="images/luttakarar_7.jpg"></MudImage>
                <h4 class="offers-section__offer-title">
                    @_events
                </h4>
            </div>
            <div class="offers-section__offer-section" @onclick="NavToRentAsVenue">
                <MudImage class="offers-section__offer-image" ObjectFit=ObjectFit.Cover Src="images/matur_14.jpg"></MudImage>
                <h4 class="offers-section__offer-title">
                    @_venue
                </h4>
            </div>
        </div>
    </div>
</div>



<div class="section-to-animate" style="display: grid; margin-bottom: 6rem;">
    <div style="display: grid;">
        <h2 class="about-us-title" style="justify-self: center;">
            @_umOkkum
        </h2>
    </div>
    <div style="display: flex; justify-content: center;">
        <div class="about-us-section__image-wrapper">
            <div class="about-us-section__two-image-wrapper">
                <div class="about-us-section__image-text-wrapper">
                    <MudImage class="about-us-section__image" ObjectFit=ObjectFit.Cover Src="images/jenny_heri.jpg"></MudImage>
                    <p class="intro-section__text">
                        @_jennyHeri
                    </p>
                </div>
                <div class="about-us-section__image-text-wrapper">
                    <MudImage class="about-us-section__image" ObjectFit=ObjectFit.Cover Src="images/ellef_eystein.jpg"></MudImage>
                    <p class="intro-section__text">
                        @_eydsteinEllef
                    </p>
                </div>
            </div>
            <div class="about-us-section__two-image-wrapper">
                <div class="about-us-section__image-text-wrapper">
                    <MudImage class="about-us-section__image" ObjectFit=ObjectFit.Cover Src="images/eyðfinn_poula.jpg"></MudImage>
                    <p class="intro-section__text">
                        @_eydfinnPoula
                    </p>

                </div>
                <div class="about-us-section__image-text-wrapper">
                    <MudImage class="about-us-section__image" ObjectFit=ObjectFit.Cover Src="images/tórður.jpg"></MudImage>
                    <p class="intro-section__text">
                        @_tordur
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
    
    @* <p class="intro-section__text">
        Tróndur offers charming cottages in Bøur, named 'The View' for their breathtaking scenery. Guests at The View can enjoy a stay in these traditional cottages and come over to Fjósið for a meal, perfect for groups and families.
    </p> *@

    




<div class="section-to-animate map">
    <h2 class="offers-title">
        @_location
    </h2>
    <div id="map" style="height:500px;width:100%;" />
</div>

<MudScrollToTop>
    <MudFab Color="Color.Tertiary" StartIcon="@Icons.Material.Filled.ArrowCircleUp" />
</MudScrollToTop>