@page "/"
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations


<PageTitle>Index</PageTitle>

<div>
    <div class="intro-section">
        <div class="intro-section__text-wrapper">
            <h2 class="intro-section__title">
                Fjósið
            </h2>
            <p class="intro-section__text">
                @_intro
            </p>
            <p class="intro-section__text">
                @_intro_2
            </p>
        </div>
        <div class="intro-section__image-wrapper">
            <div class="intro-section__two-image-wrapper">
                <div>
                    <MudImage class="intro-section__image" ObjectFit=ObjectFit.Cover Src="images/høli_1.jpg"></MudImage>
                </div>
                <div>
                    <MudImage class="intro-section__image" ObjectFit=ObjectFit.Cover Src="images/matur_17.jpg"></MudImage>
                </div>
            </div>
            <div class="intro-section__two-image-wrapper">
                <div>
                    <MudImage class="intro-section__image" ObjectFit=ObjectFit.Cover Src="images/høli_11.jpg"></MudImage>
                </div>
                <div>
                    <MudImage class="intro-section__image" ObjectFit=ObjectFit.Cover Src="images/matur_2.jpg"></MudImage>
                </div>
            </div>
        </div>
    </div>

    <div class="details-section">
        <div class="details-section__text-image-section">
            <div class="details-section__image-wrapper">
                <MudImage class="details-section__image" ObjectFit=ObjectFit.Cover Src="images/høli_2.jpg"></MudImage>
            </div>
            <div class="details-section__text-wrapper">
                <h2 class="details-section__title">
                    Rustic Ambiance and Heritage
                </h2>
                <p class="details-section__text">
                    @_details
                </p>
                <div class="details-section__button-wrapper">
                    <MudButton Style="background: rgba(0, 0, 0, 1); color: goldenrod;" @onclick="NavToGallery" ButtonType="ButtonType.Button" Variant="Variant.Filled">
                        Gallery
                    </MudButton>
                </div>
            </div>
        </div>
        <div class="section-to-animate details-section__text-image-section-2" style="background-color: #FFFFFF;">
            <div class="details-section__text-wrapper">
                <h2 class="details-section__title">
                    Farm-to-Table Cuisine
                </h2>
                <p class="details-section__text">
                    At the heart of our culinary philosophy lies a deep commitment to farm-to-table dining, where every dish begins with fresh, locally-sourced ingredients. Our menu is a celebration of the seasons, featuring an ever-changing array of flavors that highlight the best of what the local farms offer. From crisp, garden-picked vegetables to free-range meats and artisanal cheeses, each ingredient is carefully selected to ensure the highest quality and taste. Our chefs artfully blend tradition with innovation, crafting dishes that not only delight the palate but also tell the story of the land and the hands that nurtured it. Dining with us is more than a meal; it's an intimate journey through the local countryside's bountiful produce and a tribute to the community of farmers and artisans who bring their passion to your plate.
                </p>
                <div class="details-section__button-wrapper">
                    <MudButton Style="background: rgba(0, 0, 0, 1); color: goldenrod;" @onclick="NavToBooking" ButtonType="ButtonType.Button" Variant="Variant.Filled">
                        Booking
                    </MudButton>
                </div>
            </div>
            <div class="details-section__image-wrapper">
                <MudImage class="details-section__image" ObjectFit=ObjectFit.Cover Src="images/neyt_1.jpg"></MudImage>
            </div>
        </div>
        <div class="section-to-animate details-section__text-image-section">
            <div class="details-section__image-wrapper">
                <MudImage class="details-section__image" ObjectFit=ObjectFit.Cover Src="images/eplir_1.jpg"></MudImage>
            </div>
            <div class="details-section__text-wrapper">
                <h2 class="details-section__title">
                    Unique Dining Experience
                </h2>
                <p class="details-section__text">
                    Our restaurant proudly stands as a beacon of sustainability and community spirit. We're committed to eco-friendly practices, from sourcing ingredients from local farms to minimizing our environmental footprint in every aspect of operation. We believe in giving back to the land that feeds us, engaging in sustainable agriculture and energy-efficient initiatives. Beyond our kitchen, we foster a strong sense of community by supporting local artisans, hosting events that celebrate local culture, and participating in initiatives that enrich our neighborhood. Each meal served not only brings delight to your taste buds but also contributes to a greater cause—nurturing a sustainable future and strengthening the bonds within our community.
                </p>
                <div class="details-section__button-wrapper">
                    <MudButton Style="background: rgba(0, 0, 0, 1);" ButtonType="ButtonType.Button" Variant="Variant.Filled">
                        <a href="images/Menu.pdf" target="_blank" style="color: goldenrod;">Menu</a>
                    </MudButton>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-to-animate intro-section">
    <div class="intro-section__text-wrapper">
        <h2 class="offers-title">
            About us
        </h2>
        <p class="intro-section__text">
        Heri is the farmer and the one who came up with the idea of making part of the barn into a
        restaurant/venue. Jenny is the wife, boss, chef and cleaner ;-)
        Ellef and Eystein are the owners of bluegate.fo, which is a company with 3 fast boats, that they use for
        sightseeing. Each boat has the capacity of 12 persons and one of the ideas with this barn, was the
        possibility to sail and eat in one booking.
        Tróndur has 4 cosy cottages made in a traditional way with grass roof, stones and are painted black. The
        company is called The view because of the outstanding view in the village of Bøur. There is also
        possibility to stay at The view and eat at Fjósið, but you need to be min. 8 pers.
        Eyðfinn is Heri´s cousin and a constructor. Poula, his wife also cooks and cleans in Fjósið.
        Tórður is Eyðfinn and Poula´s son and will soon finish as a constructor. He was in charge of renovating
        the barn loft into ”Fjósið”.
        </p>
    </div>
    <div class="intro-section__image-wrapper">
        <div class="intro-section__two-image-wrapper">
            <div>
                <MudImage class="intro-section__image" ObjectFit=ObjectFit.Cover Src="images/høli_1.jpg"></MudImage>
            </div>
            <div>
                <MudImage class="intro-section__image" ObjectFit=ObjectFit.Cover Src="images/matur_17.jpg"></MudImage>
            </div>
        </div>
        <div class="intro-section__two-image-wrapper">
            <div>
                <MudImage class="intro-section__image" ObjectFit=ObjectFit.Cover Src="images/høli_11.jpg"></MudImage>
            </div>
            <div>
                <MudImage class="intro-section__image" ObjectFit=ObjectFit.Cover Src="images/matur_2.jpg"></MudImage>
            </div>
        </div>
    </div>
</div>

<div class="section-to-animate offers-section">
    <div class="offers-section-wrapper">
        <h2 class="offers-title">
            What we offer
        </h2>

        <div class="offers-section__contant-wrapper">
            <div class="offers-section__offer-section">
                <MudImage class="offers-section__offer-image" ObjectFit=ObjectFit.Cover Src="images/luttakarar_3_2.jpg"></MudImage>
                <h4 class="offers-section__offer-title">
                    A Complete Dining Experience
                </h4>
            </div>
            <div class="offers-section__offer-section">
                <MudImage class="offers-section__offer-image" ObjectFit=ObjectFit.Cover Src="images/luttakarar_7.jpg"></MudImage>
                <h4 class="offers-section__offer-title">
                    Meetings and Events
                </h4>
            </div>
            <div class="offers-section__offer-section">            
                <MudImage class="offers-section__offer-image" ObjectFit=ObjectFit.Cover Src="images/matur_14.jpg"></MudImage>
                <h4 class="offers-section__offer-title">
                    Rent Fjósið as a Venue
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="section-to-animate map">
    <h2 class="offers-title">
        Location
    </h2>
    <div id="map" style="height:500px;width:100%;" />
</div>

<MudScrollToTop>
    <MudFab Color="Color.Tertiary" StartIcon="@Icons.Material.Filled.ArrowCircleUp" />
</MudScrollToTop>