@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<PageTitle>Fjosid</PageTitle>

<div class="page">
    <div class="top-panel" style="background: rgba(0, 0, 0, 1); display: flex; justify-content: space-between;">
        <div style="display: flex; align-items: center;">
            <a href="/">
                <img src="images/fjosid_icon_row.png" alt="Icon" />
            </a>
            <nav>
                <ul>
                    @* <li><a style="color: goldenrod;" href="/">Home</a></li> *@
                    <li><a style="color: goldenrod;" href="/Booking">Booking</a></li>
                    <li><a style="color: goldenrod;" href="/Gallary">Gallary</a></li>
                </ul>
            </nav>
        </div>
        
        <div style="margin-right: 16px; gap: 24px; display: flex; align-items: center;">
            <a target="_blank" style="color: goldenrod;" href="https://www.facebook.com/profile.php?id=61551701065518"><i class="fa fa-facebook" style="font-size:24px"></i></a>
            <a target="_blank" style="color: goldenrod;" href="https://www.instagram.com/fjosid2023/"><i class="fa fa-instagram" style="font-size:24px"></i></a>

            <MudToggleGroup T="int" Dense="true" SelectionMode="SelectionMode.ToggleSelection" @bind-Value="LanguageId">
                <MudToggleItem T="int" Value="1" Text="FO" />
                <MudToggleItem T="int" Value="2" Text="EN" />
            </MudToggleGroup>
        </div>
    </div>

    <main>
        <article class="content">
            <CascadingValue Value="LanguageId">
                @Body
            </CascadingValue>
        </article>
    </main>

    <div class="bottom">
        <div>
            <a href="/">
                <img src="images/fjosid_icon_row.png" style="width: 170px;" alt="Icon" />
            </a>
        </div>
        <div class="bottom__info">
            <span style="color: goldenrod;">
                Fjósið
            </span>
            <span style="color: goldenrod;">
                1 TRAÐARVEGUR
            </span>
            <span style="color: goldenrod;">
                FO-386, BØUR
            </span>
            <span style="color: goldenrod;">
                FAROE ISLANDS
            </span>
            <span style="color: goldenrod;">
                +298 286032
            </span>
            <span style="color: goldenrod;">
                FJOSID2023@GMAIL.COM
            </span>
            <span style="color: goldenrod;">
                CVR: 369497 EAN: 5790002266621
            </span>
        </div>
            
        <div class="bottom__links">
            <a style="color: goldenrod;" href="/">Fjósið</a>
            <a target="_blank" style="color: goldenrod;" href="https://www.Theview.fo">The View</a>
            <a target="_blank" style="color: goldenrod;" href="https://www.Bluegate.fo">Bluegate</a>
        </div>
        <div class="bottom__icons">
            <a target="_blank" style="color: goldenrod;" href="https://www.facebook.com/profile.php?id=61551701065518"><i class="fa fa-facebook" style="font-size:36px"></i></a>
            <a target="_blank" style="color: goldenrod;" href="https://www.instagram.com/fjosid2023/"><i class="fa fa-instagram" style="font-size:36px"></i></a>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    public int LanguageId { get; set; } = 1;
}